@tailwind base;
@tailwind components;
@tailwind utilities;
.card{
  padding: 20px;
  background-color: #EAEFFB;
  margin: 20px;
  border-radius: 9px;
  .quote{
    background-color: #FBEAEF;
    padding: 20px;
    margin-bottom: 12px;
    border-radius: 12px;
  }
}
